/* styles.css */
.custom-background {
    background-color: #A0A0A0; /* Your custom color code */
    color: #FFFFFF; /* Text color */
    padding: 10px; /* Adjust padding as needed */
  }

@font-face {
    font-family: 'Futurist Fixed-width';
    src: url('FUTRFW.TTF') format('truetype');
}

body {
    font-family: 'Futurist Fixed-width', monospace;
}
  
.arrow {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#images {
    display: none;
    transition: transform 2s ease-in-out;
}